#gamePage {
    background-image: url(../images/vector-illustration-top-view-asphalt-260nw-706163338.webp);
    width: 200px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;

}